torch==2.5.0
torchvision==0.20.0
accelerate==0.33.0
transformers
diffusers[torch]
ftfy
# albumentations==1.3.0
opencv-python
einops
pytorch-lightning
bitsandbytes
prodigyopt
lion-pytorch
schedulefree
tensorboard
safetensors
# gradio==3.16.2
altair
easygui
toml
voluptuous
huggingface-hub==0.24.5
# for Image utils
imagesize
rich==13.7.0
# for T5XXL tokenizer (SD3/FLUX)
sentencepiece==0.2.0
